<app-nav-bar></app-nav-bar>
<div [ngStyle]="{'min-height.px': height}"></div>
<!-- <div style="min-height: 150px;"></div> -->
<router-outlet></router-outlet>
<!-- <p>works fine</p> -->
<!-- CREATE HOME COMPONENT AND ADD IT -->

  <!-- Footer -->
  <div style="height: 200px;"></div>
  <div style="background-color: black; padding: 20px;">
  <footer style="display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  ">
    <p style="color: white;">Developer: Vineeth Mariappan    <br>
      Contact : <a href="mailto:vineeth532x@gmail.com">vineeth532x@gmail.com</a></p>
  </footer> 
</div>