<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <br><br>
            <img src="{{product_details.cover}}">
            <button type="" class="btn btn-warning btn-round"><i class="fa fa-shopping-cart"></i>ADD TO CART</button>
            <button type="" class="btn btn-success btn-round"><i class="fa fa-credit-card-alt"></i>BUY NOW</button>
        </div>
        <div class="col-8">
                <b style="font-size: 20px;">{{product_details.prod_name}}</b>
        </div>
    </div>
</div>