<br> <br> <br>
<div class="container">
  <button type="button" style="float: right;" routerLink="/addproduct" class="btn btn-info btn-round">Add Product</button>
  <p>{{product_edit_id}}</p>

  <table class="table table-bordered table-hover" style="text-align: center;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" >Product Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col" width="60px;"></th>
        <th scope="col" width="60px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products;let i=index">
        <th scope="row">{{i+1}}</th>
       <td> <img style="width: 100px;" src="{{url+product.cover}}" alt=""></td>
        <td>{{product.prod_name}}</td>
        <td><input disabled [(ngModel)]="product.price" class="form-control" id="price" aria-describedby="emailHelp" placeholder=""></td>
        <td><input disabled [(ngModel)]="product.availability" class="form-control" id="availability" aria-describedby="emailHelp" placeholder=""></td>
       <td><button  routerLink="/addproduct/{{product.product_id}}" type="button" class="btn btn-success">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
       <td><button (click)="deleteSupplierProduct(product.product_id)" type="button" class="btn btn-danger">Remove<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td> 
      </tr>

      
    </tbody>
  </table>
</div>